body{
    font-family: "Trebuchet MS";
    background-color: beige;
    color: RGB(74, 69, 66);
    margin-top: 50px;
    font-size: 18px;
}
h1{
    font-size: 40px;
    font-stretch: semi-expanded;
}
h2{
    font-size: 30px;
}
h3{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
col{
    margin-outside: 20px;
}